<!DOCTYPE xmlns:th="http://www.thymeleaf.org">
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:insert="~{layouts/head :: head}">
  <title></title></head>
<body>
<header th:insert="~{layouts/header :: header}">
</header>

<div class="container">

  <table class="table">
    <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Genre</th>
      <th scope="col">Actions</th>
    </tr>
    </thead>
    <tbody class="table-group-divider">
      <tr th:each="movie : ${movies}">
        <th th:text="${movie.name}"></th>
        <td th:text="${movie.genre.name}"></td>
        <td>
          <a th:href="@{'/movie/' + ${movie.id}}">Edit</a>
          <a th:href="@{'/movie/' + ${movie.id + '/delete'}}" class="text-danger">Delete</a>
        </td>
      </tr>
    </tbody>
  </table>

</div>
</body>
</html>